<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
    h1 {
        position: relative;
        font-size: 70px;
        margin-top: 0;
        font-family: 'Lobster', helvetica, arial;
    }
     
    h1 a {
        text-decoration: none;
        color: #666;
        position: absolute;
         
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    }
     
    h1:after {
        content : 'Wish You Happy Birthday my akshy';
        color: #d6d6d6;
        text-shadow: 0 1px 0 white;
    }
   
       h4{
        position: relative;
        font-size: 70px;
        margin-top: 0;
        font-family: 'Lobster', helvetica, arial;
    }
     
    h4 a {
        text-decoration: none;
        color: #666;
        position: absolute;
         
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    }
     
    h4:after {
        content : 'Thank you  akshu born for me ';
        color: #d6d6d6;
        text-shadow: 0 1px 0 white;
    }
    h4{
    	color: white;
    }
   h2{
    	color: white;
    }
    h3{
    	color: white;
    }
	</style>
</head>
<body>
 
  <center>
  <img src="/assets/a/<%= @a%>", style='height:30vw;width:40vw;'>
  <h1> <a> Wish You Happy Birthday my akshy </a> </h1><br>
  <h4><a>Thank you  akshu born for me </a></h4>

  <h2> I love how u hold me.I love how u took at me funny when i say something stupied.I love how u make me happy. </h2>

   <h2>I love how u smile when i see u.I love how u laugh when i did something wrong.</h2>

	<h2>I love how u ask me if i'm alright or not.I love how u make me fell.I love how u tell me im cute.</h2>
	<h2>I love how u sing song for me.I love how u tell me the stories when i ask.</h2>
	<h2>I love how u used to squeez me when i hug me.I love how we msg each other as soon as we wake up.</h2>

	<h2>I love how we want to spend spend every day with each other .I love how u hold my hand .</h2>
	<h2>I love how u kiss my nose.I love how u lay that day next to me.I love how u see the person really i am .</h2>
	<h2>I love how u say we are perfect for each other.I love sometime u make cry and sad.</h2>
	<h2>I love how  i get nervours when i see u, but feel more comfortable with u thn i do with anyone else exept my parents.</h2>
	<h2>I love how u worry about me ,and take care of me ,guiding me .I love how  i m important to u.</h2>
	<h2>I love how u make me happy.I love how u make sure our career going in line.</h2>
	<h2>I love how i only want to be with u .I love how we talk about being togther  forever .</h2>
	<h2>I love how every thing about u dudu.</h2><br>

  	<h2>Happy birthday to the most special person in my life! You make my world complete, my cute cute akshu.</h2>
  	<br>
  	<h3>From ur Cutie pie</h3>

  	<br>
  	<img src="/assets/savithaa/<%= @savithaa%>", style='height:8vw;width:100vw;'>



</center>

  

</body>
</html>



  